{% extends 'layout.html' %}

{% block content %}

<!-- Flash Area -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="col-md-6">
    <h2 class="shake" style="font-size: 2rem; font-weight: 900; color: #c0392b; margin-top: 80px;">Staff Information Update</h2>

    <form id="staffForm" action="{{ url_for('admin.staff_list_edit', user_id=staff[0]) }}" method="post">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" name="first_name" id="first_name" value="{{ staff[1] }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" name="last_name" id="last_name" value="{{ staff[2] }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ staff[3] }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="text" class="form-control" name="mobile" id="mobile" value="{{ staff[4] }}" required pattern="(\d\s*){10,}" title="Mobile should be at least 10 digits">
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <!-- defualt the current role, if it is not amended, return the current rol -->
            <select class="form-control" id="role" name="role" required>
                <option value="Admin" {% if staff[5] == 'Admin' %} selected {% endif %}>Admin</option>
                <option value="Manager" {% if staff[5] == 'Manager' %} selected {% endif %}>Manager</option>
                <option value="Staff" {% if staff[5] == 'Staff' %} selected {% endif %}>Staff</option>
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
</div>

<!-- Back Button -->
<div class="mt-3">
    <button onclick="window.history.back();" class="btn btn-secondary">Back</button>
     
<!-- Button to go back to the dashboard-->
<a href="/admin_dashboard" class="btn btn-secondary">Dashboard</a>
</div>

<script>
    // Update JavaScript validation for at least 10 digits possibly separated by spaces
    document.getElementById('staffForm').onsubmit = function() {
        // Check if mobile number has at least 10 digits
        var mobileInput = document.getElementById('mobile');
        if (!/(\d\s*){10,}/.test(mobileInput.value)) {
            alert("Mobile Phone number shoule be at least 10 digits.");
            return false;
        }
        return true; // proceed with form submission
    };
</script>

{% endblock %}